In [21]:
import numpy as np
import pandas as pd

In [22]:
WinLoss = pd.read_excel('WLData.xlsx')

In [23]:
SummarizedWL = WinLoss[['OUTCOME', '1ST Q', '2ND Q', '3RD Q', '4TH Q']]

In [24]:
SummarizedWL = SummarizedWL.replace('W', 1)

In [25]:
SummarizedWL = SummarizedWL.replace('L', 0)

In [26]:
SummarizedWL = SummarizedWL.replace('T', -1)

In [27]:
SummarizedWL

    OUTCOME  1ST Q  2ND Q  3RD Q  4TH Q
0         0     -1      0      0      1
1         1      0      1      1      0
2         1      1      0      1     -1
3         0      1      0      0      0
4         1      0      1      1      1
5         1      1      0      1      0
6         1      1      1      1      1
7         1      1      0      1      1
8         1      1      1      0      1
9         0      1      1      0      0
10        0      1      0      0      0
11        0      0      0      1      1
12        0      0      0      1      0
13        1     -1      1      0      1
14        0      1      1      0      0
15        1      1      0      1      1
16        0      0      0      0      0
17        1      1      1      0     -1
18        0      0     -1     -1      0
19        0      1     -1      1      0

In [28]:
SummarizedWL['1st Q Pred'] = SummarizedWL['OUTCOME'] - SummarizedWL['1ST Q']
SummarizedWL['2nd Q Pred'] = SummarizedWL['OUTCOME'] - SummarizedWL['2ND Q']
SummarizedWL['3rd Q Pred'] = SummarizedWL['OUTCOME'] - SummarizedWL['3RD Q']
SummarizedWL['4th Q Pred'] = SummarizedWL['OUTCOME'] - SummarizedWL['4TH Q']

In [31]:
PredSummarizedWL = SummarizedWL[['1st Q Pred', '2nd Q Pred', '3rd Q Pred', '4th Q Pred']]

In [32]:
PredSummarizedWL

    1st Q Pred  2nd Q Pred  3rd Q Pred  4th Q Pred
0            1           0           0          -1
1            1           0           0           1
2            0           1           0           2
3           -1           0           0           0
4            1           0           0           0
5            0           1           0           1
6            0           0           0           0
7            0           1           0           0
8            0           0           1           0
9           -1          -1           0           0
10          -1           0           0           0
11           0           0          -1          -1
12           0           0          -1           0
13           2           0           1           0
14          -1          -1           0           0
15           0           1           0           0
16           0           0           0           0
17           0           0           1           2
18           0           1           1           0
19          -1           1          -1           0

In [37]:
PredSummarizedWL['4th Q Pred'].value_counts()

 0    14
-1     2
 1     2
 2     2
Name: 4th Q Pred, dtype: int64